@import "https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Varela+Round&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alata&display=swap";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.navbar{
    background-color: blue ;
    width: 100%;
    padding: 20px;
    position: fixed;

}
.nav-list{
    display: flex;
    text-decoration:none;
    list-style-type: none;
    float: right;
}



.img:hover{
    transform: scale(1.3);
}


.img{
    margin: 150px;
    height: 350px;
    width: 350px;
    margin-right: 30px;
    border: white;
    border-style: ridge;
    border-radius:50%;
       

}
.intro{
background-color: white;
background:cover;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.nav-list li a{
    text-align: center;
  color: white;
  text-decoration:none;
  list-style-type: none;
  padding: 40px 40px;
}

.text-intro{
    color: white;
   text-align: center;
   text-decoration:none;
   list-style-type: none;
   font-family: 'Varela Round';
    font-size: 50px;
    font-weight: bold;
}

.name{
    font-size: 70px;
    color: blue;
    font-weight: bolder;
}
.text-intro{
    position: absolute;
    left:40%;
    top:38%;
    color: black;
}


.img2{
    padding-top: 75px;
    height: 400px;
    width: 350px;    
}

.img3{
    border: blue;
    border-radius: 50%;
    margin: 120px;
    height: 400px;
    width: 350px;    
}


.main-body{
 background-color: black;   
}

.text-main{
    color: white;
    
    text-decoration:none;
    list-style-type: none;
     font-size: 50px;
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
     position: absolute;
    left:35%;

    top:118%;

}

.bold1{
    position: absolute;
    left:35%;
    color: red;
    margin-top: 120px;
    top:130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    

}
.boldnext1{
    color: white;
    position: absolute;
    
    left:35%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 160px;
    top:135%;
    font-size: 25px;
}
.bold2{
    position: absolute;
    left:35%;
    color: red;
    margin-top: 200px;
    top:165%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}
.boldnext2{
    color: white;
    position: absolute;
    left:35%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 250px;
    top:170%;
    font-size: 25px;
}

#works{
    background:black;
    padding-top: 100px;
    font-family: fantasy;
    padding-bottom: 100px ;
}

.projects{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
    font-size: 50px;
    color: white;
    margin-left: 40px;
    
}

.img1{
    
    margin-top: 40px;
    margin-left: 50px;
    
    height: 250px;

    width: 250px;
    border: black;
    border-style: ridge;
    border-radius:50%;
    margin-right: 50px;
}

#contact{
    padding-bottom: 80px;
    font-weight: bolder;
    color: black;
    font-size: 70px;
    padding-top: 180px;
    font-family: 'Poppins';
    background-color: white;
}

.contact-through{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 35px;
}

span{
    color: blue;
}
.fa {
    padding: 10px;
    width: 5px;
    margin-top: 50px;
    margin-left: 200px;
    color: blue;
    border-radius: 100%;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.5;
  }
  

  footer{
 background-color: blue;  
 padding: 20px;
color: white;
font-size: 20px;
text-align:center;
}

@media (max-width:1024px)
{
    .text-intro{
        top: 15%;
    }

   .text-main{
       top: 50%;
   } 
   .bold1{
       top: 53%;
   }
   .boldnext1{
       top: 55%;
   }
   .bold2{
       top: 73%;
   }
   .boldnext2{
       top: 75%;
   }
   .img3{
      height: 180px;
      width: 180px;
   }
   .img1{
       margin-right: 180px;
   }
}

@media (max-width:768px){
.text-intro{
    font-size: 35px;
    left: 58%;
}
.img{
    height: 250px;
    width: 250px;
}
.text-main{
padding-top: 50px;
}
.bold1{
    margin-top: 200px;
}
.boldnext1{
    margin-top: 250px;
}
.bold2{
    margin-top: 360px;
}
.boldnext2{
    margin-top: 410px;
}
.img3{
    margin: 100px;
  height: 150px;
  width: 150px;
}
.img1{
    margin-top: 20px;
    margin-right: 80px ;
}
.fa{
    margin-left:120px;
}

}

@media (max-width : 450px){
    .nav-list li a{
        text-align: center;
      color: white;
      text-decoration:none;
      list-style-type: none;
      padding: 15px 15px;
    }   
    .img{
        margin: 80px;
        height: 200px;
        width: 200px;
        margin-right: 30px;
        border: white;
        border-style: ridge;
        border-radius:50%;
           
    
    }
    .text-intro{
        color: black;
       text-align: left;
       text-decoration:none;
       list-style-type: none;
       font-family: 'Varela Round';
        font-size: 30px;
        margin-top: 180px;
        font-weight: bold;
    }
.name{
font-size: 40px;
}
.text-main{
    margin-top: 220px;
    font-size: 35px;
    left: 5%;
    color: black;
    text-align: left;
}
.img2{
    height: 150px;
    width: 150px;
}
.bold1{
    margin-top: 350px;
font-size: 35px;
color: black;
left: 5%;
}
.boldnext1{
    color: black;
    margin-top: 380px;
  font-size: 25px;
  left: 5%;
}
.bold2{
    left: 5%;
    margin-top: 650px;
    font-size: 35px;
    color: black;
}
.boldnext2{
    color: black;
    margin-top: 690px;
    left: 5%;
}
.main-body{
    background-color: white;   
   }

#works{
    background-color: white;
    margin-top: 850px;
    font-weight: bolder;
}
.img3,.img2{
    display: none;
}
.projects{
    margin-top: 100px;
    left: 5%;
    color: black;
font-size: 55px;
}
.img1{
    height: 90px;
    width: 90px;
}
#contact{
    font-size: 30px;
}
.fa{
    margin-left: 50px;
}
}
@media (max-width:280px) {
    .nav-list li a{
        float: left;
      color: white;
      font-size: 10px;
      text-decoration:none;
      list-style-type: none;
      padding: 8px 10px;
    }
    .img{
        
        margin: 80px;
        height: 150px;
        width: 150px;
        margin-right: 30px;
        border: black;
        border-style: ridge;
        border-radius:50%;
           
    
    }
    .text-intro{
        color: black;
       text-align: left;
       text-decoration:none;
       list-style-type: none;
       font-family: 'Varela Round';
        font-size: 20px;
        font-weight: bold;
        left: 5%;
    }
    
    .name{
        font-size: 30px;
        color: blue;
        font-weight: bolder;
    }


    .text-main{
        margin-top: 100px;
        font-size: 35px;
        left: 5%;
        color: black;
        text-align: left;
    }
    .img2{
        height: 150px;
        width: 150px;
    }
    .bold1{
        margin-top: 350px;
    font-size: 25px;
    color: black;
    left: 5%;
    }
    .boldnext1{
        color: black;
        margin-top: 380px;
      font-size: 15px;
      left: 5%;
    }
    .bold2{
        left: 5%;
        margin-top: 550px;
        font-size: 25px;
        color: black;
    }
    .boldnext2{
        color: black;
        margin-top: 620px;
        left: 5%;
        font-size: 15px;
    }
    .main-body{
        background-color: white;   
       }
    
    #works{
        background-color: white;
        margin-top: 700px;
        font-weight: bolder;
    }
    .img3,.img2{
        display: none;
    }
    .projects{
        margin-top: 100px;
        left: 2%;
        color: black;
    font-size: 25px;
    }
    .img1{
        height: 50px;
        width: 50px;
        margin: 15px;
    }
    #contact , .contact-through{
        font-size: 25px;
    }
    .fa{
        margin-left: 30px;
    }
    
    .copyright{
        font-size: 15px;
    }


}
@media (max-width:360px)
{
    .text-intro{
        color: black;
       text-align: left;
       text-decoration:none;
       list-style-type: none;
       font-family: 'Varela Round';
        font-size: 20px;
        font-weight: bold;
        left: 5%;
    }
    
    .nav-list li a{
        text-align: center;
      color: white;
      text-decoration:none;
      list-style-type: none;
      padding: 10x 10px;
    }
    .text-main{
        margin-top: 140px;
        font-size: 35px;
        left: 5%;
        color: black;
        text-align: left;
    }
    .bold1{
        margin-top: 310px;
    font-size: 35px;
    color: black;
    left: 5%;
    }
    .boldnext1{
        color: black;
        margin-top: 350px;
      font-size: 20px;
      left: 5%;
    }
    .bold2{
        left: 5%;
        margin-top: 550px;
        font-size: 25px;
        color: black;
    }
    .boldnext2{
        color: black;
        margin-top: 590px;
        left: 5%;
        font-size: 20px;
    }
    .main-body{
        background-color: white;   
       }
    
    #works{
        background-color: white;
        margin-top: 700px;
        font-weight: bolder;
    }
    .img3,.img2{
        display: none;
    }
    .projects{
        margin-top: 100px;
        left: 2%;
        color: black;
    font-size: 25px;
    }
    .img1{
        height: 50px;
        width: 50px;
        margin-top: 35px;
        margin-left:45px ;
    }
    #contact , .contact-through{
        font-size: 23px;
    }
    .fa{
        margin-left: 50px;
    }
    
    .copyright{
        font-size: 10px;
    }



}

@media (max-width:411px){
    .projects{
        margin-top: 250px;
        left: 5%;
        font-size: 40px;
        text-align: left;
    
    }
    .img1{

        margin: 50px;
    }
}
@media(max-width:375px){
    .bold2{
        margin-top: 690px;
    }
    .boldnext2{
        margin-top: 730px;
    }
}